body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #37363d;
    padding: 7%;
    color: black;
}

.deger_alma {
    text-align: center;
}


#x,
#y {
    height: 75px;
    width: 180px;
    border-radius: 100px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    background-color: #FF6F00;
    margin-bottom: 5%;
}

input::-webkit-input-placeholder {
    color: black;
}

.islemler {
    text-align: center;
}

button {
    font-size: 25px;
    border-radius: 30px;
    padding: 1%;
    width: 170px;
    margin: 1%;
    background-color: #01579B;
    border: 0;
    transition: 0.5s;
}

button:hover {
    background-color: #013257;
    transition: 0.5s;
    cursor: pointer;
}

span,
i {
    font-size: 25px;
    padding: 2%;
    margin: 5px;
}

.temizle {
    display: flex;
    justify-content: flex-end;
}

.temizle i {
    font-size: 50px;
    color: black;
}

.temizle i:hover {
    color: white;
    transition: 1s;
    cursor: pointer;
}